$black:         #000;
$border-color:  rgba(34, 36, 38, .15);
$white:         #fff;
$gray-color:    #aaa;
$red:           #d0021b;
$green:         #37d463;

.react-select-box {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: left;
  width: 100%;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $gray-color;
    content: ' ';
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
  }

  &:focus {
    outline: none;
  }

  &-container {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
  }

  &-label,
  &-option {
    line-height: 34px;
  }

  &-label {
    overflow: hidden;
    padding: 0 40px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-click-outside-layer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &-clear {
    background: transparent;
    border: 0;
    height: 100%;
    position: absolute;
    right: 25px;
    width: 17px;
    z-index: 3;

    &::before {
      color: $gray-color;
      content: '×';
      font-size: 18px;
      left: 4px;
      line-height: 34px;
      position: absolute;
      text-indent: 0;
      top: 0;
      z-index: 1;
    }

    &:hover,
    &:focus {
      outline: 0;

      &::before {
        color: $red;
      }
    }
  }

  &-hidden {
    display: none;
  }

  &-options {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-radius: 0 0 4px;
    border-right: 1px solid $border-color;
    left: -1px;
    max-height: 200px;
    outline: none;
    overflow-y: auto;
    position: absolute;
    top: calc(100% - 4px);
    width: calc(100% + 2px);
    z-index: 5;

    &-list {
      list-style: none outside;
      margin: 0;
      padding: 0;
    }
  }

  &-option {
    color: $black;
    cursor: pointer;
    display: block;
    line-height: 1.2;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;

    &:hover,
    &-selected {
      background-color: $border-color;
    }

    &:focus,
    &-focused {
      outline: 0;
    }
  }

  &-close {
    background-color: transparent;
    border: 0;
    color: $gray-color;
    cursor: pointer;
    display: block;
    font-weight: bold;
    outline: none;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &-native {
    left: -99999em;
    position: absolute;
  }

  &-empty {
    .react-select-box {
      &-label,
      &-close {
        color: $gray-color;
      }
    }
  }

  &-multi {
    .react-select-box {
      &-option {
        padding-left: 42px;
        position: relative;

        &::before {
          border: 1px solid $border-color;
          border-radius: 4px;
          color: $green;
          content: ' ';
          cursor: pointer;
          font-family: 'Icons';
          height: 16px;
          left: 16px;
          line-height: 1;
          margin-right: 10px;
          position: absolute;
          text-align: center;
          top: 9px;
          vertical-align: middle;
          width: 16px;
        }

        &-selected {
          color: $black;

          &::before {
            content: '\f00c';
          }
        }
      }
    }
  }
}
